body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 3rem;

}

section {
  margin-bottom: 2rem;
}



form label {
  display: block;
  margin-top: 1rem;
}

form input,
form select,
form button {
  display: block;
  margin-top: 0.5rem;
}

input,
button,
textarea,
select {
  @apply border rounded-md px-4 py-2 outline-none focus:border-blue-500 w-full;

}